<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
    <h1>Add User</h1>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form style="display: flex; flex-direction: column; align-items: flex-start;" method="POST" action="/adminadduser">
        {{ form.hidden_tag() }}
        <label for="username">UserName:</label>
        {{ form.username }}
        <br>
        <label for="password">Password:</label>
        {{ form.password }}
        <br>
        <div>
            <label>Account Type:</label>
            {{ form.accounttype }}
        </div>
        {{ form.submit }}
    </form>
    <div>
        <br>
        <br>
    </div>
    <div>
        <a href="{{url_for('admindashboard')}}">Admin Dashboard</a>
    </div>

    <!-- Logout button -->
    <form action="{{url_for('logout')}}" method="post">
        
        <button type="submit">Logout</button>
    </form>
</body>
</html>