<!DOCTYPE html>
<html>
<head>
    <title>Team Selection</title>
    <style>
        /* Center the headings in the table */
        table {
            margin: auto;
        }

        /* Add borders to the table and cells */
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 8px;
        }

     
        h2 {
            text-align: center;
        }

        .top-right-links {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <!-- Links at the top right -->
    <div class="top-right-links">
        {% if usertype == 'admin' %}
            <a href="{{url_for('admindashboard')}}">Admin Dashboard</a>
        {% else %}
            <a href="{{url_for('userdashboard')}}">User Dashboard</a>
        {% endif %}
        <!-- Logout button -->
        <form action="{{url_for('logout')}}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>

    <h1>Select Team and Year</h1>
    <form method="post">
        <label for="team">Team Name:</label>
        <select name="team" id="team">
            {% for team in teams %}
            <option value="{{ team }}" {% if team_output == team %}selected{% endif %}>{{ team }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="year">Year:</label>
        <select name="year" id="year">
            {% for year in years %}
            <option value="{{ year }}" {% if year == year_output %}selected{% endif %}>{{ year }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>

    {% if batting_roster or pitching_roster %}
    <h1>Roster for {{ team_output }} - {{ year_output }}</h1>
        {% if batting_roster %}
        <h2>Batting Statistics</h2>
        <table>
            <tr>
                <th>Playerid</th>
                <th>Games Played</th>
                <th>Games Pitched</th>
                <th>Games Caught</th>
                <th>Games 1st Base</th>
                <th>Games 2nd Base</th>
                <th>Games 3rd Base</th>
                <th>Games Short Stop</th>
                <th>Games Left Outfield</th>
                <th>Games Center Outfield</th>
                <th>Games Right Outfield</th>
                <th>Games Designated Hitter</th>
                <th>Games Pinch Hit</th>
                <th>Games Pinch Run</th>
                <th>Batting Average</th>
                <th>On Base Percentage</th>
                <th>Slugging</th>
            </tr>
            {% for player in batting_roster %}
                <tr>
                    <td>{{ player.playerID }}</td>
                    <td>{{ player.total_games }}</td>
                    <td>{{ player.G_p }}</td>
                    <td>{{ player.G_c }}</td>
                    <td>{{ player.G_1b }}</td>
                    <td>{{ player.G_2b }}</td>
                    <td>{{ player.G_3b }}</td>
                    <td>{{ player.G_ss }}</td>
                    <td>{{ player.G_lf }}</td>
                    <td>{{ player.G_cf }}</td>
                    <td>{{ player.G_rf }}</td>
                    <td>{{ player.G_dh }}</td>
                    <td>{{ player.G_ph }}</td>
                    <td>{{ player.G_pr }}</td>
                    <td>{{ player.avg }}</td>
                    <td>{{ player.obp }}</td>
                    <td>{{ player.slug }}</td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
            <p>No batting statistics available for {{ team_output }} - {{ year_output}}.</p>
        {% endif %}
        {% if pitching_roster %}
        <h2>Pitching Statistics</h2>

        <table>
            <tr>
                <th>Playerid</th>
                <th>Games Pitched</th>
                <th>Games Started</th>
                <th>Innings Pitched</th>
                <th>WHIP</th>
                <th>Strikeouts per 9 Innings</th>
            </tr>
            {% for player in pitching_roster %}
                <tr>
                    <td>{{ player.playerID }}</td>
                    <td>{{ player.G_p }}</td>
                    <td>{{ player.GS }}</td>
                    <td>{{ player.ip }}</td>
                    <td>{{ player.whip }}</td>
                    <td>{{ player.k_p_9 }}</td>
                </tr>
            {% endfor %}
        </table>

        {% else %}
        <div><br></div>
        <h2>Pitching Statistics</h2>
        <p>No Pitching Roster</p>

        {% endif %}
    {% else %}

        {% if team_output %}
            <h1>No Statistics for {{team_output}} in {{year_output}} </h1>
        {% else %}
            <h1>No Team Selected </h1>
        {% endif %}
        

    {% endif %}
</body>
</html>